footer{
    grid-area: footer;
    background: var(--cor-backgound-secundario);
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    color: var(--cor-base);
    font-size: 1rem;
    text-align: center;
    padding: 5px;
}

footer p:nth-child(2){
    font-size: 1.2rem;
    font-weight: bold;
    animation: waveColor 2s infinite;
}
