main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 0;
}

/* Participação */

.participacao{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.participacao-lista{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Quem Somos */

.quemsomo{
    background-color: var(--cor-fundo-pretoprofundo);
}

.quemsomos .cards-quemsomos{
    background-color: var(--cor-fundo-cinzaescuro);
    display: flex;
    justify-content: center;
    padding: 100px 2%;
    gap: 20px;
}

.quemsomos .cards-quemsomos .card p{
    border-bottom: 3px solid transparent;
    border-radius: 10px;
    border-image: linear-gradient(
        45deg,
        #E10600,
        #FF8C00,
        #FFC400
    ) 2;
}

/* Proximo Encontro */

.proximoencontro{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 2%;
}

.proximoencontro img{
    width: 150px;
    height: 150px;
}

/* Galeria */
.galeria {
    padding: 100px 2%;
    text-decoration: none;
}

.galeria h4 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 15px 0 50px;
}

.galeria-imagens {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, minmax(90px, 1fr));
    grid-auto-rows: 100px;
    gap: 12px;
}

.galeria-imagens img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Faça Parte */

.facaparte{
    width: 80%;
    border-radius: 12px;
    border: 1px solid rgba(218, 13, 13, 0.589);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: linear-gradient(
    135deg,
    #FFC400 0%,
    #FFB000 35%,
    #FF6A00 65%,
    #E10600 100%
);

}