/* Imports */
@import url("variaveis.css");
@import url("animacoes.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
/* Fim Imports */

/* Reset Css */
*{ padding:0;margin:0;box-sizing:border-box }
.hidden{display: none !important;}
span, a, p, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: inherit; color: inherit; text-decoration: none; }
button{ background: none; border: none; cursor: pointer; }
img{ display: block; max-width: 100%; height: auto; }
ul{ list-style: none; }
.uppercase{ text-transform: uppercase; }
.text-amarelo{ color: var(--cor-texto-amarelo); }
.text-vermelho{ color: var(--cor-texto-vermelho); }
h1, h2, h3, h4, h5, h6, p, li, a, button{ color: white; }
/* Fim Reset Css */


body {
    max-width: 100vw;
    height: auto;
    background-color: var(--cor-fundo-cinzaescuro);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}
