/* Imports */
@import url("animacoes.css");
@import url("variaveis.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("responsivo.css");
/* Fim Imports */

/* Reset Css */
*{ padding:0;margin:0;box-sizing:border-box }
.hidden{display: none !important;}
span, a, p, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: inherit; color: inherit; text-decoration: none; }
button{ background: none; border: none; cursor: pointer; }
img{ display: block; max-width: 100%; height: auto; }
ul{ list-style: none; }
/* Fim Reset Css */


body {
    height: 100vh;
    max-width: 100vw;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #2d3a50;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
